<table class="contracts-summary" >
  <tr>
    <td>
      <h3><%= l(:label_total_purchased) %></h3>
      <p class="bigbold"><%= number_to_currency(@total_purchased_dollars) %></p>
      <p><%= l(:label_or) %></p>
      <p class="bigbold">~<%= l_hours @total_purchased_hours %></p>
    </td>
    <td>
      <h3><%= l(:label_total_remaining) %></h3>
      <p class="<%= (@total_remaining_dollars > 0) ? "green" : "red" %> bigbold"><%= number_to_currency(@total_remaining_dollars) %></p>
      <p><%= l(:label_or) %></p>
      <p class="blue bigbold">~<%= l_hours @total_remaining_hours %></p>
    </td>
    <% if User.current.admin?%>
        <% if params[:project_id].to_i == 11 or params[:project_id].to_i == 48 or params[:project_id].eql? "prestacao_de_contas" or params[:project_id].eql? "contabil" %>
            <td>
                <h3>Administrativo</h3>
                <div class="provisionamentos">
                    <%= link_to "Provisionamentos", provisionamentos_index_path() %>
                </div>

                <div class="pagamento_estagiario">
                  <%= link_to "Pagamentos Estagiários", trainees_payments_index_path() %>
                </div>
            </td>
        <%end%>
            <td>
              <h3>Trasferência entre contratos</h3>
              <% %>
              <%= form_tag("/projects/#{params[:project_id]}/contracts/transfer_between_contracts") do -%>
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <label>Valor:</label> <input type="text" id="valor_transferencia" name="valor_transferencia"/><br />
                <label>Contrato saída:</label> <%= select_tag "contrato_saida", options_from_collection_for_select(@contracts, :id, :title) %> <br />
                <label>Contrato entrada:</label> <%= select_tag "contrato_entrada", options_from_collection_for_select(@contracts, :id, :title) %><br />
                <label>Descrição:</label> <input type="text" id="descricao_transferencia" name="descricao_transferencia"/><br />
                <input name="btn-transferencia" type="submit" value="Transferir"/>
              <% end %>
            </td>

    <%end%>
  </tr>
</table>
<br />
